.app {
  text-align: center;
}

.game {
  width: 1000px;
  height: 500px;
  background-image: url('../public/background.jpg'); /* Updated path */
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.pipe {
  width: 50px;
  background-color: green;
  position: absolute;
}